<header>
  <h1>BAPS Alumni</h1>
  <ul class="actions">
    <li><%= link_to "Create a Profile", new_owner_path, class: "new" %></li>
  </ul>
</header>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>About Me</th>
    <th></th>
    <th></th>
  </tr>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= image_tag owner.photo.url(:thumb), class: "list-photo" %></td>
        <td><%= link_to owner.name, owner %></td>
        <td><%= owner.address %></td>
        <td><%= truncate(owner.description) %></td>
        <% if user_signed_in? %>
          <td><%= link_to "edit", edit_owner_path(owner) %></td>
        <% end %>
        <% if user_signed_in? %>
          <td><%= link_to "delete", owner_path(owner), method: :delete, data: {confirm: "Are you sure?"}%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
