<header>
  <h1><%= @owner.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Your Profile", edit_owner_path(@owner), class: "edit" %></li>
    <li><%= link_to "Delete Your Profile", owner_path(@owner), method: :delete, data: { confirm: "Are you sure you want to delete your profile?" }, class: "delete" %></li>
  </ul>
</header>

<h2><%= @owner.city %></h2>
  <p><%= @owner.country %></p>
  <p><%= @owner.description %></p>

<header>
  <h2>BAPS Dogs</h2>

  <ul class="actions">
    <li><%= link_to "Upload Your Pet's Info", new_owner_pet_path(@owner), class: "new" %></li>
  </ul>
</header>

<ul id="pets">
  <%= @owner.pets.each do |pet| %>
    <li>
      <!-- This is strange behavior -->
      #<%= pet.id %> -
      <%= link_to pet.name, [@owner, pet] %>
    </li>
  <% end %>
</ul>